<html>
  <head>
    <meta charset=utf-8 />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile viewing enhancement -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <!-- Description should be roughly 155 characters, no double quotes, use keywords -->
    <meta name="description" content="Take your first Step in Austin with confidence!" />
    <!-- Format as Primary Keyword - Secondary Keyword | Brand Name, keep under 55 characters -->
    <title>First Step In</title>
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
    <link rel="stylesheet" href="/public/styles/main.css">

    <link rel="stylesheet" type="text/css" href="/public/styles/main2.css" />
    <link rel="stylesheet" type="text/css" href="/public/styles/dropdown.css" />
    <link href="https://fonts.googleapis.com/css?family=Yellowtail" rel="stylesheet">
<!--     <script src = "/public/scripts/script.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.1/firebase-app.js"></script>
  	<script src="https://www.gstatic.com/firebasejs/4.1.1/firebase-auth.js"></script>
  	<script src="https://www.gstatic.com/firebasejs/4.1.1/firebase-database.js"></script>
  	<script src="https://www.gstatic.com/firebasejs/4.1.1/firebase-messaging.js"></script>
    <link href='/public/scripts/fullcalendar/fullcalendar.min.css' rel='stylesheet' />
    <link href='/public/scripts/fullcalendar/fullcalendar.print.min.css' rel='stylesheet' media='print' />
    <script src='/public/scripts/fullcalendar/lib/moment.min.js'></script>
    <script src='/public/scripts/fullcalendar/lib/jquery.min.js'></script>
    <script src='/public/scripts/fullcalendar/fullcalendar.min.js'></script>
    <script src='/public/scripts/fullcalendar/gcal.min.js'></script>
    <!-- Minimize the number of CSS files for performance -->
    <link rel="shortcut icon" href="favicon.png">
    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="/public/styles/main2.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,100,300,700italic,500,500italic,400italic,300italic,100italic|Roboto+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.orange-amber.min.css" />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="demo-layout-transparent mdl-layout mdl-js-layout">
            
        <!-- Header -->
        <header class="mdl-layout__header mdl-layout__header--transparent ">
            <div class="mdl-layout__header-row mdl-color-text--grey-700">
                <span class="mdl-layout-title">
            <a href="/"><img src="/public/images/dummy-logo.png"" alt="logo" height="48"></a>
          </span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!--Search-->
                <div id = "search-div">
                    <script>
                      (function() {
                        var cx = '002457898823174146598:b4zlopgxsqk';
                        var gcse = document.createElement('script');
                        gcse.setAttribute("id","search-bar");
;                       gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                      })();
                    </script>
                    <gcse:search></gcse:search>
                </div>
                <!-- Navigation -->
                <nav class="mdl-navigation">
                    <a class="mdl-navigation__link" href="/signin" id="sign-in-button">
                        <i class="material-icons">account_circle</i> <span id="account">Sign In</span>
                    </a>
                    <a class="mdl-navigation__link" href="javascript:void(0)" id="account-menu-button">
                    </a>
                    <a class="mdl-navigation__link" href="javascript:void(0)" id="help-button">
                        <i class="material-icons">help</i> <span id="help">Help</span>
                    </a>
                </nav>
            </div>

        </header>
        <div id = "categories-header">
            <div id = "categories-header-content">
                <div id = "categories-table">

                    <div class="dropdown">
                        <div class = "category-box">
                            <div class = "category-icon-div">
                                <img class = "category-icon" src = "/public/images/icons/community.png">
                            </div>
                            <div class = "category-text-div">
                                <p class = "category-text">Community</p>
                            </div>
                        </div>
                        <div class="dropdown-content">
                            <a href="#">Social Groups</a>
                            <a href="#">Mosques/Churches</a>
                            <a href="#">Social Workers/Agencies</a>
                            <a href="#">Nonprofits</a>
                            <a href="#">United Way's 2-1-1</a>
                            <a href="#">Safety</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <div class = "category-box">
                            <div class = "category-icon-div">
                                <img class = "category-icon" src = "/public/images/icons/money.png">
                            </div>
                            <div class = "category-text-div">
                                <p class = "category-text">Money</p>
                            </div>
                        </div>
                        <div class="dropdown-content">
                            <a href="#">Tips</a>
                            <a href="#">Banks/ATMs</a>
                            <a href="#">Building Credit</a>
                            <a href="#">Financial Counseling</a>
                            <a href="#">Budgeting</a>
                            <a href="#">Checks/E-mail</a>
                            <a href="#">Pocket Money</a>
                            <a href="#">Documenting Expenses</a>
                            <a href="#">Taxes</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <div class = "category-box">
                            <div class = "category-icon-div">
                                <img class = "category-icon" src = "/public/images/icons/food.png">
                            </div>
                            <div class = "category-text-div">
                                <p class = "category-text">Food</p>
                            </div>
                        </div>
                        <div class="dropdown-content">
                            <a href="#">SNAP</a>
                            <a href="#">Food banks</a>
                            <a href="#">International Markets</a>
                            <a href="#">Farmers Markets</a>
                            <a href="#">Tips</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <div class = "category-box">
                            <div class = "category-icon-div">
                                <img class = "category-icon" src = "/public/images/icons/house.png">
                            </div>
                            <div class = "category-text-div">
                                <p class = "category-text">Housing</p>
                            </div>
                        </div>
                        <div class="dropdown-content">
                            <a href="#">Apartments</a>
                            <a href="#">Disputes</a>
                            <a href="#">Rent Assistance</a>
                            <a href="#">Subsidized housing</a>
                            <a href="#">Tips</a>
                            <a href="#">General Living</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <div class = "category-box">
                            <div class = "category-icon-div">
                                <img class = "category-icon" src = "/public/images/icons/healthcare.png">
                            </div>
                            <div class = "category-text-div">
                                <p class = "category-text">Healthcare</p>
                            </div>
                        </div>
                        <div class="dropdown-content">
                            <a href="#">Clinics</a>
                            <a href="#">Transportation to Medical Appointments</a>
                            <a href="#">Translation Services</a>
                            <a href="#">Health fairs</a>
                            <a href="#">Online Resources</a>
                            <a href="#">Insurance</a>
                            <a href="#">Tips</a>
                            <a href="#">Exercise</a>
                            <a href="#">Nutrition</a>
                            <a href="#">Hygiene</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <div class = "category-box">
                            <div class = "category-icon-div">
                                <img class = "category-icon" src = "/public/images/icons/employment.png">
                            </div>
                            <div class = "category-text-div">
                                <p class = "category-text">Employment</p>
                            </div>
                        </div>
                        <div class="dropdown-content">
                            <a href="#">Tips</a>
                            <a href="#">Job Training</a>
                            <a href="#">Small Business Training</a>
                            <a href="#">Disputes/Discrimination</a>
                            <a href="#">Sewing</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <div class = "category-box">
                            <div class = "category-icon-div">
                                <img class = "category-icon" src = "/public/images/icons/education.png">
                            </div>
                            <div class = "category-text-div">
                                <p class = "category-text">Education</p>
                            </div>
                        </div>
                        <div class="dropdown-content">
                            <a href="#">Local ESL resource</a>
                            <a href="#">Online Resources</a>
                            <a href="#">Where to find translators</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <div class = "category-box">
                            <div class = "category-icon-div">
                                <img class = "category-icon" src = "/public/images/icons/children.png">
                            </div>
                            <div class = "category-text-div">
                                <p class = "category-text">Children</p>
                            </div>
                        </div>
                        <div class="dropdown-content">
                            <a href="#">AISD</a>
                            <a href="#">Summer and Holiday Break Camps</a>
                            <a href="#">Swimming Lessons</a>
                            <a href="#">Places to go</a>
                            <a href="#">Parenting</a>
                            <a href="#">Tips</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <div class = "category-box">
                            <div class = "category-icon-div">
                                <img class = "category-icon" src = "/public/images/icons/transportation.png">
                            </div>
                            <div class = "category-text-div">
                                <p class = "category-text">Transportation</p>
                            </div>
                        </div>
                        <div class="dropdown-content">
                            <a href="#">Tips</a>
                            <a href="#">Capital Metro</a>
                            <a href="#">Cabs/Rideshare</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <div class = "category-box">
                            <div class = "category-icon-div">
                                <img class = "category-icon" src = "/public/images/icons/legal.png">
                            </div>
                            <div class = "category-text-div">
                                <p class = "category-text">Legal</p>
                            </div>
                        </div>
                        <div class="dropdown-content">
                            <a href="#">Wills</a>
                            <a href="#">Power of Attorney</a>
                            <a href="#">Leases</a>
                            <a href="#">Contracts</a>
                            <a href="#">Immigration Legal Services</a>
                        </div>
                    </div>

                    <div class="dropdown">
                        <div class = "category-box">
                            <div class = "category-icon-div">
                                <img class = "category-icon" src = "/public/images/icons/volunteer.png">
                            </div>
                            <div class = "category-text-div">
                                <p class = "category-text">Volunteers</p>
                            </div>
                        </div>
                        <div class="dropdown-content">
                            <a href="#">How the refugee program works</a>
                            <a href="#">Welcome Teams</a>
                            <a href="#">Goals</a>
                            <a href="#">Finding Other Volunteers to Help you</a>
                            <a href="#">Organizing Volunteers/Donation Collection</a>
                            <a href="#">Setting Up a Home</a>
                            <a href="#">What Refugees Typially Need Help with</a>
                            <a href="#">Where to Donate Money</a>
                            <a href="#">Donation Tips</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>            
        <!-- Side Drawer -->
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title"><img src="/public/imgs/firebase-logo.png" alt="logo" height="48"></span>
            <div class="drawer-separator"></div>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/public"><i class="material-icons">lock_open</i> Public</a>
                <a class="mdl-navigation__link" href="/help"><i class="material-icons">help_outline</i> Help</a>
            </nav>
        </div>