<%- include('partials/header'); %>

        <!--Main Page -->
        <main class="mdl-layout__content page-content">
            
            <!--Card Section -->
            <section class="mdl-grid">
                
                <!-- Center Card -->
                <div class="mdl-layout-spacer"></div>
                    
                <div class="mdl-card mdl-shadow--2dp mdl-cell" id="help-card">
                    <div class="mdl-card__title">
                        <h1 class="mdl-card__title-text mdl-color-text--white">Help</h1>
                    </div>
                    <div class="mdl-card__supporting-text mdl-typography--headline">
                        <h6>FREE ONLINE HELP</h6>
                        <p>There are several sources of help online including 
                            <a class="mdl-color-text--grey-500" href="javascript:void(0)" onclick="window.open('https://firebase.google.com/docs/', 'newwindow', 'width=800, height=400'); return false;">Firebase docs<i class="material-icons oin">open_in_new</i></a> and <a class="mdl-color-text--grey-500"
                            href="javascript:void(0)" onclick="window.open('https://stackoverflow.com/', 'newwindow', 'width=800, height=400'); return false;">Stack Overflow<i class="material-icons oin">open_in_new</i></a>. 
                        </p>
                        <h6>HELP FOR HIRE</h6>
                        <p>If you would like assistance setting up your Firebase Web project I am available for hire by the hour or project and would love to help. 
                            More of my Material Design, Google API, and Firebase tools at <a class="mdl-color-text--grey-500" href="javascript:void(0)" onclick="window.open('https://rack.pub', 'newwindow', 'width=800, height=400'); return false;">rack.pub<i class="material-icons oin">open_in_new</i></a>.
                        </p>
                    </div>
                    <div class="mdl-card__actions mdl-card--border intro-card-actions">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/">
                            Home
                        </a>
                        <div class="mdl-layout-spacer"></div>
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="https://rack.pub/ratesheet">
                            <i class="material-icons align">credit_card</i> Hire Me by the Hour or Project
                        </a>
                    </div>
                </div>
                <!-- Center Card -->
                <div class="mdl-layout-spacer"></div>
                
            <!--/Card Section -->
            </section>
            
            <p class="text-center license">Copyright &#169; 2016 <a class="mdl-color-text--grey-600" href="javascript:void(0)" onclick="window.open('https://rack.pub', 'newwindow', 'width=800, height=400'); return false;">Ron Royston</a>, MIT License</p>
            
        </main>
            

<%- include('partials/footer'); %>