<%- include('partials/header'); %>

        <!--Main Page -->
        <main class="mdl-layout__content page-content">
            
            <!--Card Section -->
            <section class="mdl-grid" style="padding-bottom: 600px;margin-top: 155px;background-image: url('/public/images/Help.jpg');background-repeat: no-repeat; background-size: cover;" >
                
                <!-- Center Card -->
                <div class="mdl-layout-spacer"></div>
                    
                <div class="mdl-card mdl-shadow--2dp mdl-cell" id="help-card">
                    <!--div class="mdl-card__title">
                        <h1 class="mdl-card__title-text mdl-color-text--white">Help</h1>
                    </div-->
                    <div class="mdl-card__supporting-text mdl-typography--headline">
                        <h6>FREE HELP</h6>
                        <p>This website has a lot of content and sometimes it can be overwhelming. If its easier for you we can contact you with one of our <a class="mdl-color-text--grey-500"
                            href="javascript:void(0)" onclick="window.open('https://gmail.com/', 'newwindow', 'width=800, height=400'); return false;">volunteers.<i class="material-icons oin">open_in_new</i></a> who will do their best to assist you in finding the solution to your problem.
                        </p>
                        <h6>HELP E-MAIL</h6>
                        <p>If a volunteer doesn't answer our help line I'd urdge you to leave a voicemail and then <a class="mdl-color-text--grey-500"
                            href="javascript:void(0)" onclick="window.open('https://gmail.com/', 'newwindow', 'width=800, height=400'); return false;">email.<i class="material-icons oin">open_in_new</i></a>
                        </p>
                    </div>
                    <div class="mdl-card__actions mdl-card--border intro-card-actions">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/">
                            Home
                        </a>
                        <div class="mdl-layout-spacer"></div>
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="http://gmail.com">
                            <i class="material-icons align">credit_card</i> Do You Want to Volunteer?
                        </a>
                    </div>
                </div>
                <!-- Center Card -->
                <div class="mdl-layout-spacer"></div>
                
            <!--/Card Section -->
            </section>
            
            
        </main>
            

<%- include('partials/footer'); %>