<%- include('partials/header'); %>
            <script type="text/javascript" src="../client/public/scripts/stylinggt.js"></script>
      <div id="header-image">
      <div id = "greeter">

				<div id = "greeter-content" class="ontop">
					<div id = "greeter-text-div">
						<h1 id = "greeter-text">Austin Welcomes Refugees</h1>
            <p id = "greeter-sub">Find all the resources you need to settle into life in Austin, search or choose a category above to get started</p>

            <!--Search-->
            <div id = "search-div" class="ontop">
                <script>
                  (function() {
                    var cx = '002457898823174146598:b4zlopgxsqk';
                    var gcse = document.createElement('script');
                    gcse.setAttribute("id","search-bar");
;                       gcse.type = 'text/javascript';
                    gcse.async = true;
                    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                  })();
                </script>
                <gcse:search></gcse:search>
            </div>

          </div>

        </div>
        <div id ="orangeblock"></div>
					<!-- <div id = "language-select-div" style="">
						<div id="google_translate_element"></div>
						<script type="text/javascript">
						function googleTranslateElementInit() {
						  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
						}
						</script>
						<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
					</div> -->
				</div>
			</div>

			<div id = "calendar-twitter-div">
				<div id = "small-calendar-div">
					<div id = "small-calendar-div-content">
						<div id = "small-calendar-text-div">
							<h1 id = "small-calendar-text">Upcoming Events</h1>
						</div>
		                <div id = "calendar-container">
						<div id = "fullcalendar"></div>
		                </div>
					</div>
				</div>

				<div id = "twitter-div">
					<div id = "twitter-div-content">
						<div id = "twitter-text-div">
							<h1 id = "twitter-text">Our Latest News</h1>
						</div>
						<div class="twitter-iframe-reference">
							<a class="twitter-timeline" data-width="420" data-height="650" href="https://twitter.com/firststepinatx">Tweets by firststepinatx</a>
							<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
						</div>
					</div>
				</div>
			</div>

			<div id="footer">
				<p>2017 @ FirstStepIn.info</p>
			</div>
			<script>document.getElementById("myP").style.textAlign = "center";

<%- include('partials/footer'); %>
