<%- include('partials/header'); %>
<header class="create">
  <a href="/story" id="start-story" class="create__button">Do Something</a>
  <h1 class="logo"><img src="/public/imgs/logo.png" width="250" height="65"></h1>
</header>
<%- include('partials/footer'); %>

