<%- include('partials/header'); %>
            
              
			<div id = "greeter">
				<div id = "greeter-content">
					<div id = "greeter-text-div">
						<h1 id = "greeter-text">Welcome to Austin!</h1>
					</div>
					<div id = "language-select-div">
						<select id = "language-select">
							<option value = "language1">Language 1</option>
							<option value = "language2">Language 2</option>
							<option value = "language3">Language 3</option>
						</select>
					</div>
				</div>
			</div>

			<div id = "calendar-twitter-div">
				<div id = "small-calendar-div">
					<div id = "small-calendar-div-content">
						<div id = "small-calendar-text-div">
							<h1 id = "small-calendar-text">Calendar</h1>
						</div>
		                <div id = "calendar-container">
						<div id = "fullcalendar"></div>
		                </div>
					</div>
				</div>

				<div id = "twitter-div">
					<div id = "twitter-div-content">
						<div id = "twitter-text-div">
							<h1 id = "twitter-text">Social</h1>
						</div>
						<div class="twitter-iframe-reference">
							<a class="twitter-timeline" data-width="420" data-height="650" href="https://twitter.com/firststepinatx">Tweets by firststepinatx</a>
							<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
						</div>
					</div>
				</div>
			</div>

            
<%- include('partials/footer'); %>

