<%- include('partials/header'); %>
        
              
			<div id = "greeter">
				<div id = "greeter-content">
					<div id = "greeter-text-div">
						<h1 id = "greeter-text">Welcome to Austin!</h1>
					</div>
					<div id = "language-select-div">
						<select id = "language-select">
							<option value = "language1">Language 1</option>
							<option value = "language2">Language 2</option>
							<option value = "language3">Language 3</option>
						</select>
					</div>
				</div>
			</div>

			<div id = "calendar-twitter-div">
				<div id = "small-calendar-div">
					<div id = "small-calendar-div-content">
						<div id = "small-calendar-text-div">
							<h1 id = "small-calendar-text">Calendar</h1>
						</div>
		                <div id = "calendar-container">
						<div id = "fullcalendar"></div>
		                </div>
					</div>
				</div>

				<div id = "twitter-div">
					<div id = "twitter-div-content">
						<div id = "twitter-text-div">
							<h1 id = "twitter-text">Social</h1>
						</div>
						<div class="twitter-iframe-reference">
							<a class="twitter-timeline" data-width="420" data-height="650" href="https://twitter.com/firststepinatx">Tweets by firststepinatx</a>
							<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
						</div>
					</div>
				</div>
			</div>

            <div id="google_translate_element"></div>
			<script type="text/javascript">
			    function googleTranslateElementInit() {
			        new google.translate.TranslateElement({pageLanguage: ['en', 'en-us'], autoDisplay: false, multilanguagePage: true, gaTrack: true, gaId: 'UA-403844-8'}, 'google_translate_element');
			    }
			</script>
			<script type="text/javascript" src="http://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            
			<div id="footer">
				<p id="info">2017 @ FirstStepIn.info</p>
			</div>
			<script>document.getElementById("info").style.textAlign = "center";</script>

<%- include('partials/footer'); %>

